<ion-view view-title="About Us">
	<ion-content  class="livhea-background-color livhea-long-text">
	Livhea is about healthy living and living consciously. We believe that to live a fulfilled life, health and wellness is very important. Health is not just about being disease free but it is about living vibrantly. We bring in health experts, technology solutions and necessary expertise to bring complete lifestyle management solutions to your door steps. Our programs are scientifically designed, sustainable, and easy to follow.
	</ion-content>
</ion-view>