<ion-view view-title="About Us">
	<ion-content  class="livhea-background-color livhea-about-text"> 
	<p>Livhea is about healthy and conscious living.</p>
 
<p style="text-align: justify;">We are keen on bringing about a paradigm shift in pregnancy care by providing women who are planning to conceive, expecting mothers and women providing care for their new born child. We bring in health experts, technology solutions and necessary expertise to bring complete pregnancy management solutions to your door steps.</p>
 <br/>
<p>Our team of medical experts includes:
		<ul>
	    	<li> - Dr. Nupur Gupta, Paras Hospitals (Gurgaon) </li>
	    	<li> - Dr. Sujata Mittal, Paras Hospitals (Gurgaon) </li> 
	    	<li> - Divya Deswal, Child Birth Educator</li>
	    	<li> - Dr. Manjiri Deshpande, Certified Child Birth Educator</li>
	    </ul>
</p>

	</ion-content>
</ion-view>


