<ion-view view-title="Pregnancy Progress" class="livhea-background-color">
    <ion-content>
        <div class="list">
            <div class="item">
                <table style="width:100%;">
                    <tr>
                        <td style="text-align:left" ng-if="!prev_week" ng-click="showPrev()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="text-align:left" ng-if="prev_week" ng-click="showPrev()">{{prev_week_show}}</td>
                        <td style="text-align:center">{{curr_week_show}}</td>
                        <td style="text-align:right" ng-if="!next_week" ng-click="showNext()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td style="text-align:right" ng-if="next_week" ng-click="showNext()">{{next_week_show}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="item item-divider">
                How your body is changing?
            </div>
            <div class="item item-text-wrap">
                {{mother_text}}
            </div>      
        </div>
        <div class="card">
            <div class="item item-divider">
                How your baby is growing?
            </div>
            <div class="item item-text-wrap">
                {{baby_text}}
            </div>      
        </div>
    </ion-content>
</ion-view>
