<ion-view view-title="LivHea - Coach">
	<ion-content  class="has-footer livhea-background-color">
	    <img src="img/coach.jpe" alt="" width="100%">
	    <div style="background-color:#cab27a;padding:10px;margin-top:-10px">
	    		<h4 style="text-transform:uppercase; color:white; text-align:center">pregnancy coach</h4>
	    		<p style="text-transform:capitalize; color:white; text-align:center; font-size:larger">Get your own dedicated pregnancy coach</p>

	    </div>
	    <ul class="chat-list">
	    	<li class="ion-checkmark-circled chat-list-item"> Understand Your Pregnancy </li>
	    	<li class="ion-checkmark-circled chat-list-item"> Personalised Diet & Lifestyle Advice </li> 
	    	<li class="ion-checkmark-circled chat-list-item"> Happy Pregnancy Experience </li> 
	    </ul>
	    
	    
	</ion-content>
	<ion-footer-bar class="livhea-background-color">
	  <button class="button button-block button-positive" style="bottom:5px" ng-click="showConversation()" >{{chatLabel}}</button>
	</ion-footer-bar>
</ion-view>