<ion-view view-title="Track your Pregnancy" class="livhea-background-color">
	<ion-content >
		<div class="list livhea-color">
			<!-- <div class="item item-divider">
			Candy Bars
			</div> -->
			
            	<canvas id="line" class="item chart chart-line" chart-data="data"
			chart-labels="labels" chart-series="series" chart-options="options"
			chart-dataset-override="datasetOverride"> 
				</canvas>
			<a class="livhea-color item ion-ios-body-outline livhea-background-color" ui-sref="tab.dash-addweight" style="color:white">
				Add Weight
			</a>
			<a class="livhea-color item ion-ios-pulse livhea-background-color" ui-sref="tab.dash-addbloodpressure" style="color:white">
				Add Blood Pressure
			</a>
			<a class="livhea-color item ion-ios-nutrition-outline livhea-background-color" href="#" style="color:white">
				Add Food/Diet
			</a>
		</div>
  </ion-content>
</ion-view>
