<ion-view hide-nav-bar="true" class="launch">
	<div style="position:relative;">
	  	<p style="text-align:center; margin-top:20px; color:#4A4A4A; font-size:20px">
	  		Welcome to
	  	</p>
	  	<p style="text-align:center; margin-top:10px">
	  		<img src="img/launch/logo.png" style="text-align:center">
	  	</p>
	  	<div style="color:#4A4A4A; font-size:30px; text-align:center">
	  		<p style="margin-bottom:15px">India's First</p>
	  		<p style="margin-bottom:15px">Online Pregnancy</p>
	  		<p style="margin-bottom:15px">Management Program</p>
	  	</div>
	</div>	
	
  	<div style="position:absolute; bottom:0; left:0; width:100%; text-align:center">
  		<p class="title button button-positive" style="width:80%; " ng-click="facebookSignIn()">
  			Continue
  		</p>
  		<p style="width:100%; font-size:smaller">
  			 By continuing you agree to our 
  			 <a style="text-decoration:none" onclick="window.open('http://livhea.com/terms-and-conditions', '_system', 'location=yes'); return false;" >

  				terms & conditions
  			</a>

  			 and 
  			<a style="text-decoration:none" onclick="window.open('http://livhea.com/privacy-policy', '_system', 'location=yes'); return false;">

  				privacy policy
  			</a>

  		</p>
	</div>
  <!-- <ion-footer-bar style="background-color:red">
    
	    
  </ion-footer-bar>	 -->
</ion-view>


<!-- <p style="text-align:center"></p> -->