<ion-view hide-nav-bar="true">
  <ion-content class="padding livhea-background-color">
  <br/>
	<!-- <span><h4 class="livhea-text-color">Welcome</h4> <h3 class="livhea-text-color">{{name}}</h3></span> -->
  	<p>Thank for choosing Livhea.</p><p> Please tell us about yourself, to help us serve you better!</p>

	<div class="list">

		<label class="item item-input">
		    <span class="input-label">Name</span>
		    <input type="tel" placeholder="your name" ng-model="name">
		</label>

		<label class="item item-input">
		    <span class="input-label">Age</span>
		    <input type="tel" placeholder="age in years" ng-model="age">
		</label>

		<label class="item item-input">
		    <span class="input-label">Select</span>
		      <select ng-model="pregnancy_status" ng-change="pregnancyChanged()">
		      <option value="trying_pregnant">I am trying to get pregnant</option>
		      <option value="currently_pregnant">I am pregnant</option>
		      <option value="recently_delivered">I recently delivered</option>
		    </select>
		</label>

		<label class="item item-input" ng-hide="pregnancyWeekLabel">
		    <span class="input-label">Pregnant for weeks</span>
		    <input type="tel" placeholder="weeks" ng-model="week_track">
		</label>

		<label class="item item-input">
		    <span class="input-label">Contact number</span>
		    <input type="tel" placeholder="10 digit mobile number" ng-model="contact_number">
		</label>

		<button class="button button-full button-positive" ng-click="saveProfile()">
  			Verify mobile number(Send OTP)
		</button>
	</div>
  </ion-content>
</ion-view>