<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
<ion-header-bar align-title="center">
  <!-- <div class="buttons">
    <button class="button" ng-click="doSomething()">Left Button</button>
  </div> -->
  <h1 class="title"><img class="title-image" src="img/launch/logo.png" width="80" height="43" /></h1>
  <!-- <div class="buttons">
    <button class="button">Right Button</button>
  </div> -->
</ion-header-bar>
    <ion-content>
      <ion-list>
        <!-- <ion-item menu-close ng-click="login()">
          Login
        </ion-item> -->
        <ion-item menu-close href="#/app/chats">
          Talk to Coach
        </ion-item>
        <ion-item menu-close href="#/app/track">
          Pregnancy Progress
        </ion-item>
        <ion-item menu-close ng-click="openBlog()">
          Health Feed
        </ion-item>
        <ion-item menu-close ng-click="contactUs()">
          Contact Us
        </ion-item>
        <ion-item menu-close ng-click="feedBack()">
          Feedback
        </ion-item>
        <ion-item menu-close href="#/app/about">
          About Us
        </ion-item>
        <ion-item menu-close ng-click="rateApp()" class="">
          Rate App
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
