<ion-view view-title="Track your Pregnancy">
	<ion-content>
		<div class="list">
			<!-- <div class="item item-divider">
			Candy Bars
			</div> -->
			<a class="item" href="#">
					<h2>show chart here</h2>
					<h2>show chart here</h2>
					<h2>show chart here</h2>
					<h2>show chart here</h2>
					<h2>show chart here</h2>
					<h2>show chart here</h2>
			</a>
			<a class="item ion-ios-body-outline" ui-sref="tab.dash-addweight">
				Add Weight
			</a>
			<a class="item ion-ios-pulse" ui-sref="tab.dash-addbloodpressure">
				Add Blood Pressure
			</a>
			<a class="item ion-ios-nutrition-outline" href="#">
				Add Food/Diet
			</a>
		</div>
  </ion-content>
</ion-view>
