.launch {
    background-color: #E5E7E9;
}

.launchprofile-input {
    text-decoration: underline;
    border:1px solid #ff0000;
}

.livhea-background-color {
    background-color: #0dbeab;
    /*background-color: #cab27a;*/    
}

.livhea-text-color {
    color: white;
}

/*.item .item-content {
  background-color: #0dbeab !important;
}*/

.chat-list {
    color:white;
    font-size:larger;
    margin-left:20px; 
    margin-top:20px
}

.chat-list-item {
    margin:10px 0
}

.livhea-long-text {
    color: white;
    text-align: left;
    padding: 10px;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
}